@import './reset.css';

:root {
  --primary-text-colour: rgb(48, 33, 66);
  --secondary-text-colour: rgb(62, 59, 94);
  --primary-btn-colour: rgb(173, 107, 235);
  --primary-btn-hover: rgb(127, 80, 214);
  --primary-btn-text: rgb(248, 251, 255);
  --primary-btn-text-hover: rgb(226, 226, 248);
}

* {
  transition: all 0.2s ease-in-out;
}

body {
  background-color: rgb(216, 215, 230);
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  text-align: center;
  font-size: 26px;
  margin: 30px 0;
}

header h2 {
  color: var(--primary-text-colour);
}

/* Tasks */

.task-input form, .edit-form form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .input-container, .edit-container {
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  input[type=text] {
    margin-right: 15px;
    border: 1px solid rgb(200, 200, 211);
  }
  input[type=text]:focus {
    border-color: rgb(135, 135, 161);
  }
  input[type=submit] {
    margin: 2px;
    height: 55%;
    background-color: var(--primary-btn-colour);
    color: var(--primary-btn-text);
  }
  input[type=submit]:hover {
    background-color: var(--primary-btn-hover);
    color: var(--primary-btn-text-hover);
  }
  input[type=submit]:active {
    opacity: 70%;
  }
  input[type=text], input[type=submit] {
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.error {
  color: rgb(221, 85, 97);
  margin-right: 10px;
}

.task-container {
  width: min(100% - 60px, 1080px);
  height: calc(100dvh - 300px);
  margin-inline: auto;
  padding: 10px;
  background-color: rgb(248, 251, 255);
  border-radius: 8px;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-sizing: border-box;
  ul li {
    width: calc(25% - 4px);
    height: 100px;
  }
}

.to-do-task {
  background-color: rgb(239, 237, 245);
  border: 1px solid rgb(223, 221, 231);
  color: var(--primary-text-colour);
  width: calc(25% - 4px);
  height: 100px;
  display: flex;
  border-radius: 4px;
}

.task-content { 
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    font-size: 20px;
  }
  p {
    color: var(--secondary-text-colour);
  }
}

.task-btns {
  text-align: end;
  margin-right: 20px;
}

.status-btn, .delete-btn, .edit-btn {
  width: 20px;
  height: 20px;
}

.status-btn:hover, .delete-btn:hover, .edit-btn:hover {
  transform: translateY(-3px);
}

.status-btn:active, .delete-btn:active, .edit-btn:active {
  opacity: 70%;
}

.status-btn, .edit-btn {
  margin-right: 10px;
}

/* Task Progress */

.task-progress, .in-progress, .complete {
  width: 8px;
  margin-right: 10px;
  border-radius: 4px 0 0 4px;
}

.in-progress {
  background-color: rgb(170, 242, 255);
}

.complete {
  background-color: rgb(156, 255, 164);
}

/* Edit Form */

.edit-form {
  position: fixed;
  display: flex;
  left: 10%;
  top: 25%;
  width: 80%;
  height: 45%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(215, 191, 219);
  background-color: rgb(220, 206, 240);
  color: black;
}

.hide-modal {
  visibility: hidden;
  opacity: 0;
  display: none;
  pointer-events: none;
}